[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
invoke = "*"
pytest = "*"
mypy = "*"
"flake8" = "*"
pytest-cov = "*"
twine = "*"

[packages]
google-cloud-firestore = "<1.8.0"
typing-extensions = "*"

[requires]
python_version = "3.7"
